<h1>New Artist</h1>

<<<<<<< HEAD
<%= render "form", artist: @artist %>
<br />
<%= link_to "Back", billboards_path %>

=======
<%= render "form", billboard: @billboard, artist: @artist %>

<%= link_to "Back", billboard_path(@billboard) %>
>>>>>>> 2236a9715579f17b697c9d9379429bf55284326d
